.searchCardsContainer {
  background-color: #fff;
}

.searchCards {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-block: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}

.searchCard {
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searchCards h2 {
  color: #000;
  font-size: 16px;
}

.searchCards p {
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

.searchCards img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 7px 0 0 5px;
  border: 3px solid #00ad33;
}

.searchCardButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
